<section class="faq-container">

  <div class="faq-content">

    <div class="faq-header">

      <h2 class="faq-title">

        {{ faqContent.title | translate }}

        <span class="highlight-green">

          {{ faqContent.titleHighlight | translate }}

        </span>

      </h2>

      <p class="faq-subtitle">

        {{ faqContent.subtitle | translate }}

      </p>

    </div>

    <div class="faq-list">

      @for (
        item of faqItems;
        track item.question
      ) {

        <details
          class="faq-item"
          [attr.open]="item.isOpen ? '' : null">

          <summary class="faq-question">

            {{ item.question | translate }}

            <span class="faq-icon"></span>

          </summary>

          <div class="faq-answer">

            <p>

              {{ item.answer | translate }}

            </p>

          </div>

        </details>

      }

    </div>

  </div>

</section>