<nav class="navbar">

  <a
    routerLink="/"
    class="navbar__logo">

<img src="/assets/images/logo-TT.png" alt="Táctica TIC">

  </a>

  <ul class="navbar__menu">

    @for(item of navigationItems; track item.route){

      <li>

        <a
          [routerLink]="item.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">

       {{ item.label | translate }}

        </a>

      </li>

    }

  </ul>

  <div class="navbar__actions">

    <app-icon-button
    icon="/assets/icons/icon-search.png"
      ariaLabel="Buscar"
      (clicked)="onSearchClick()">
    </app-icon-button>

<button
  class="language-button"
  (click)="toggleLanguage()">

  {{ currentLanguage.toUpperCase() }}

</button>

  </div>

</nav>