<nav class="navbar">

  <a
    routerLink="/"
    class="navbar__logo">

<img src="/assets/images/logo-TT.png" alt="Táctica TIC">

  </a>

  <ul class="navbar__menu">

    @for(item of navigationItems; track item.route){

      <li>

        <a
          [routerLink]="item.route"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">

       {{ item.label | translate }}

        </a>

      </li>

    }

  </ul>

  <div class="navbar__actions">

    <app-button
      variant="tertiary"
      iconOnly
      ariaLabel="Buscar"
      (buttonClick)="onSearchClick()">
      <img src="/assets/icons/icon-search.png" alt="">
    </app-button>

<app-button
  variant="tertiary"
  size="sm"
  (buttonClick)="toggleLanguage()">

  {{ currentLanguage.toUpperCase() }}

</app-button>
<div class="navbar__hamburger">
  <app-button
    variant="tertiary"
    iconOnly
    ariaLabel="abrirmenu">

    <img src="/assets/icons/menu.svg" alt="menu">

  </app-button>
</div>

  </div>

</nav>
