<section class="home-projects home-section">
  <div class="home-projects__inner home-section__inner reveal-up">
    <div class="home-projects__header">
      <div>
        <h2>
          {{ 'HOME.HOME_PROJECTS.TITLE' | translate }}
        </h2>
        <p>
          {{ 'HOME.HOME_PROJECTS.DESCRIPTION' | translate }}
        </p>
      </div>

<app-button variant="primary" routerLink="/projects">
  {{ 'HOME.HOME_PROJECTS.BUTTON_LABEL' | translate }}
</app-button>
    </div>

    <div class="home-projects__grid">
      @for (project of projects; track project.title) {
      <app-project-card [image]="project.image" [title]="project.title" [description]="project.description"
       buttonLabel="HOME.HOME_PROJECTS.CARD_BUTTON" buttonRouterLink="/projects" />
      }
    </div>
  </div>
</section>