<section class="contact-container">
  <div class="contact-content">
    
    <div class="contact-info">
      <h2 class="contact-title">
        Impulsa tu <br>
        <span class="highlight-green">transformación digital</span>
      </h2>
      <p class="contact-text">
        Cuéntanos qué reto tecnológico tienes entre manos. Estamos listos para escucharte, aportar nuestra experiencia y diseñar la estrategia robusta y eficiente que tu negocio necesita para seguir evolucionando. 
      </p>
      
      <div class="info-blocks">
        <div class="info-item">
          <div class="info-text">
            <strong>Email:</strong>
            <span>hello&#64;tacticatic.com</span>
          </div>
        </div>
        
        <div class="info-item">
          <div class="icon-box">📍</div>
          <div class="info-text">
            <strong>Oficinas:</strong>
            <span> Gijón Impulsa Quinta la Vega, Cam. Viejo Musel, 246, Gijon-Oeste, 33299 Gijón, Asturias</span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-card">
      <form class="contact-form">
        <div class="form-group">
          <input type="text" placeholder="Nombre y apellidos" required>
        </div>
        
        <div class="form-group">
          <input type="text" placeholder="Empresa">
        </div>
        
        <div class="form-row">
          <div class="form-group inline-group">
            <input type="email" placeholder="Email" required>
          </div>
          <div class="form-group inline-group">
            <input type="tel" placeholder="Numero">
          </div>
        </div>
        
        <div class="form-group">
          <textarea placeholder="¿Como podemos ayudarte?" rows="5"></textarea>
        </div>
        
        <button type="submit" class="submit-btn">Solicitar ayuda</button>
      </form>
    </div>

  </div>
</section>
