<section class="final-cta home-section">
  <div class="final-cta__inner home-section__inner reveal-up">
    <span class="final-cta__shape final-cta__shape--one"></span>
    <span class="final-cta__shape final-cta__shape--two"></span>
    <span class="final-cta__shape final-cta__shape--three"></span>
    <span class="final-cta__shape final-cta__shape--four"></span>

    <h2>Transforma el potencial de tu negocio con nosotros</h2>

    <app-button variant="primary" routerLink="/contact">
      Contáctanos
      <span class="arrow">→</span>
    </app-button>
  </div>
</section>
