<section class="cases-section">

  <div class="cases-container">

    <div class="cases-header">

      <div class="cases-header-left">

        <h2 class="cases-section-title">

          {{ caseStudiesContent.title | translate }}

        </h2>

        <p class="cases-section-subtitle">

          {{ caseStudiesContent.subtitle | translate }}

        </p>

      </div>

      <app-button
        variant="tertiary"
        href="#todos-casos">

        {{ caseStudiesContent.button | translate }}

      </app-button>

    </div>

    <div class="cases-grid">

      @for (
        project of projects;
        track project.title
      ) {

        <div
          class="case-card"
         [class]="'case-card ' + project.cardClass">

          <div class="case-info">

            <span class="case-tag">

              {{ project.tag | translate }}

            </span>

            <h3 class="case-name">

              {{ project.title | translate }}

            </h3>

          </div>

          <div class="case-image-wrapper">

            <img
              [src]="project.image"
              [attr.alt]="project.title | translate"
              class="case-img">

          </div>

        </div>

      }

    </div>

  </div>

</section>