<link rel="stylesheet" href="case-studies-section.css"> 
<section class="cases-section">
  <div class="cases-container">
    
    <div class="cases-header">
      <div class="cases-header-left">
        <h2 class="cases-section-title">Nuestros Proyectos</h2>
        <p class="cases-section-subtitle">
          Descubre cómo resolvemos desafíos complejos de ingeniería y transformamos ideas en soluciones tecnológicas reales.
        </p>
      </div>
      <a href="#todos-casos" class="cases-view-all-link">ver todos los proyectos</a>
    </div>

    
    <div class="cases-grid">
      
      <div class="case-card card-narrow">
        <div class="case-info">
          <span class="case-tag">I+D+i</span>
          <h3 class="case-name">MINIASSIST</h3>
        </div>
        <div class="case-image-wrapper">
          <img src="src/assets/images/lineas.png" alt="Caso de Estudio Visión por Computador" class="case-img">
        </div>
      </div>

      
      <div class="case-card card-wide">
        <div class="case-info">
          <span class="case-tag">I+D+i</span>
          <h3 class="case-name">EPISOT</h3>
        </div>
        <div class="case-image-wrapper">
          <img src="src/assets/images/lineas.png" alt="Caso de Estudio Página Web Táctica TIC" class="case-img">
        </div>
      </div>

    </div>

  </div>
</section>
