<div class="logos-carousel" aria-labelledby="logos-carousel-title">
  <h2 id="logos-carousel-title" class="logos-carousel__title">
    {{ 'HOME.LOGOS.TITLE' | translate }}
  </h2>

  <div class="logos-carousel__viewport">
    <div class="logos-carousel__track">
      <div class="logos-carousel__group" 
      [attr.aria-label]="'HOME.LOGOS.PARTNERS_LABEL' | translate">
        @for (logo of logoLoop; track $index) {

  
          <div class="logos-carousel__item">

            <img [src]="logo.src" [alt]="logo.alt" class="logos-carousel__logo" />

          </div>



          }
        </div>


        <div class="logos-carousel__group" aria-hidden="true">

          @for (logo of logoLoop; track $index) {

          <div class="logos-carousel__item">
            <img [src]="logo.src" alt="" class="logos-carousel__logo" />
          </div>

          }

        </div>
      </div>
    </div>

</div>
