<section class="hero-container">

  <div class="hero-content">

    <h1 class="hero-title">
      {{ heroContent.titleLine1 | translate }}
      <span class="highlight-green">
        {{ heroContent.titleHighlight | translate }}
      </span>
      {{ heroContent.titleLine2 | translate }}
    </h1>

      <p class="hero-description">

        {{ heroContent.description | translate }}

      </p>

      <div class="hero-buttons">

        <app-button
          variant="primary"
          routerLink="/about">

          {{ heroContent.aboutButton | translate }}

          <span class="arrow">→</span>

        </app-button>

        <app-button
          variant="secondary"
          routerLink="/projects">

          {{ heroContent.visionButton | translate }}

          <span class="arrow">→</span>

        </app-button>

      </div>

  </div>

</section>
