
<section class="projects-container">
  <div class="projects-content">
    
    <div class="projects-header">
      <h2 class="projects-title">Proyectos de <span class="highlight-green">I+D+i </span></h2>
      <p class="projects-subtitle">
        Consultoría para la implantación del ENS Nivel Medio IDE/2024/000398
      </p>
      <img src="assets/images/logos-proyectos/fondos europeos.png" alt="logo" class="project-image">
      <img src="assets/images/logos-proyectos/sekuens.png" alt="logo" class="project-image">
    </div>

    <div class="projects-grid">
      
      <article class="project-card" *ngFor="let prj of projects">
        <h3 class="project-name">{{ prj.name }}</h3>
        
        <p class="project-text" *ngIf="prj.text">{{ prj.text }}</p>
        
        <ul class="project-list" *ngIf="prj.listItems">
          <li *ngFor="let item of prj.listItems">{{ item }}</li>
        </ul>

        <p *ngFor="let paragraph of prj.additionalParagraphs">{{ paragraph }}</p>

        <div class="project-info-box" *ngIf="prj.fundingBox">
          <span class="funding">{{ prj.fundingBox }}</span>
        </div>

        <img *ngFor="let imgPath of prj.images" 
             [src]="imgPath" 
             alt="logo" 
             [class.image-large]="prj.name.includes('Contrato Formativo')"
             class="project-image">
      </article>

    </div>

  </div>
</section>