/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import 'tailwindcss';
@import './app/styles/design-system.css';

html,
body {
	min-height: 100%;
	font-family: var(--font-family-base);
	color: var(--text-body-color);
	line-height: var(--text-body-line-height);
	background: var(--color-bkg-light);
	margin: 0;
	overflow-x: hidden;
}
